body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-around;
  /* Not sure if this should be space-around or space-between with some type of margin. Revisit once the main content gets added */
  margin: 0;
  padding: 0;
  gap: 16px;
  background: #1F2937;
  color: #F9FAF8;
}

h3 {
  font-size: 24px;
}

a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 16px;
  list-style-type: none;
}

.media {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  margin: 0;
  padding: 0;
  gap: 16px;
  flex-direction: row-reverse;
  background: #1F2937;
}

.content {
  flex: 1;
  /* justify-content: center; */
  margin-left: 500px;
  /* padding: 0; */
  color: #F9FAF8
}

/* This was a descendant combinator of .media .content & also a group selector with the same selectors. REALLY don't want to margin longhand here even though 
it technically "works" */

h1 {
  font-size: 48px;
  font-weight: extra-bold;
}

.image {
  flex: 1;
}

.image img {
  max-width: 500px;
}

.signup-1 {
  padding: 8px 24px;
  border-radius: 8px;
  margin-top: 16px;
  background: #3882F6;
  border: 1px solid #3882F6;
  color: #EEE;
  font-weight: 700;
}

/* Decide between 24 and 28px for the padding */

.footer {
  display: flex;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 72px;
  justify-content: center;
  align-items: center;
  background: #1F2937;
  color: #e5e7eb;
}