body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-around;
  /* Not sure if this should be space-around or space-between with some type of margin. Revisit once the main content gets added */
  margin: 0;
  padding: 0;
  gap: 16px;
  background: #1F2937;
  color: #F9FAF8;
}

h3 {
  font-size: 24px;
}

a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 16px;
  list-style-type: none;
}

.media {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  margin: 0;
  padding: 0;
  gap: 16px;
  flex-direction: row-reverse;
  background: #1F2937;
}

.content {
  flex: 1;
  /* margin: 20px 497px; */
  /* justify-content: center; */
  max-width: 650px;
  margin: 20px 0 72px 160px;
  /* padding: 0; */
  color: #F9FAF8
}

/* This was a descendant combinator of .media .content & also a group selector with the same selectors. REALLY don't want to margin longhand here even though 
it technically "works". Tried width to shorten text but didn't work. */

h1 {
  font-size: 48px;
  font-weight: 800;
}

.image {
  flex: 1;
  max-width: 500px;
  margin: 40px;
}

/* .image img {
  max-height: 250px;
  max-width: 500px;
  margin: 40px;
} */

/* Thought max-height would squish the image. It doesn't (makes the whole image smaller). Need to figure out how to target this specific image with a different 
width and height than the other 4 images in CSS (inline CSS on the HTML element itself?) */

.signup-1 {
  padding: 8px 24px;
  border-radius: 8px;
  margin-top: 16px;
  background: #3882F6;
  border: 1px solid #3882F6;
  color: #EEE;
  font-weight: 700;
}

/* Decide between 24 and 28px for the padding. Will need this entire selector for the second button, but border will need to be white. */

.header-2 {
  align-items: center;
  text-align: center;
  margin-top: 18px;
}

h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
  margin: 0;
  padding: 32px;
}

.info {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 120px;
  gap: 64px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  /* margin-top: 50px; */
}

/* Potentially add another class to the HTML for each image and change this selector to that new class in order to separate these images from the top image */

.subtext {
  max-width: 200px;
}

.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5e7eb;
  text-align: center;
}

.quote {
  font-size: 36px;
  font-weight: 100;
  color: #1F2937;
  margin: 64px;
  padding: 64px;
  max-width: 900px;
}

.author {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 24px;
  font-weight: 800;
  color: #1F2937;
}

/* Thor needs to be on bottom right of the text. Could make it it's own separate div with same format as testimonial & force it to flex-end but that's kinda ghetto */

.footer {
  display: flex;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 72px;
  justify-content: center;
  align-items: center;
  background: #1F2937;
  color: #e5e7eb;
}